<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TreeCloning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80005A8F1F4BE9850006BC71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80005AA51F4BE9850006BC71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80005AB01F4BE9850006BC71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
